body {
    background-image: url("../images/regal.png");
    border-top-color: white;
    border-top-width: 80px;
    border-top-style: solid;
    margin-top: 0;
}

nav {
    background-color: white;
    color: gray;
    position: absolute;
    right: 0;
    top: -80px;
    text-justify: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* unvisited link */
nav:link {
    color: gray;
    text-decoration: none;
  }
  
  /* visited link */
nav:visited {
    color:navy;
    text-decoration: none;
  }
  
  /* mouse over link */
nav:hover {
    color:#4aaaa5;
    text-decoration: none;
  }
.pImage .text {
    position: absolute;
    visibility: hidden;
}
.pImage:hover .text{
    position: relative;
    width: 100%;
    height: 30%;
    float: left;
    opacity: 0.9;
    visibility: visible;
    padding-bottom: 70px;
    margin: 25px;
    padding-top: 70px;
    color: white;
    bottom: 230px; 
    left: -25px;
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    font-family:'Fontdiner Swanky';
    font: bolder;

}

}
.text {
    background-color: rebeccapurple;
    color: white;
    font-size: 16px;
    

  }
#yourName{
    font-size: 30px;
    font-weight: bolder;
    background-color: rebeccapurple;
    color: white;
    position: absolute;
    left: 0;
    width: auto;
    height: auto;
    top: -3.5em;
    padding: 16px 30px 16px 30px;
    font-family: 'Fontdiner Swanky';
    text-transform: uppercase;
}
#mainBox {
    width: 960px;
    height: auto;
    position: relative;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px; 
    box-sizing: border-box;   
  }
#heading {
    width: 900px;
    font-family: 'Fontdiner Swanky';
    color: rebeccapurple;
    font-weight: bold;
    font-size: 25px;
    border-bottom-color:lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 20px;

}
#pBody {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    line-height: 1.5;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 5px;
    padding-right: 25px;
}
#myPic {

    float: left;
    margin: 25px;
    filter: drop-shadow(8px 8px 10px rebeccapurple);
    }
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 25px;
    border-top-color:rebeccapurple;
    border-top-style: solid;
    border-top-width: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.cform {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-bottom: 5px;
    line-height: 1.2;
    color: darkgray;
}

.projectName {
    position: absolute;
    width: 88.9%;
    background-color: rebeccapurple;
    font-family: 'Fontdiner Swanky';
    color: white;
    bottom: 0;
    left: 0;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 20px;
}
.pImage { 
    position: relative;
    float: left;
    width: 250px;
    height: 200px;
    margin: 25px;
}
#box{
    width: 960px;
    height: 900px;
    position: relative;
    background-color: white;
    margin-bottom: 40px;
  }
  input[type=submit] {
    background-color: rebeccapurple;
    border: none;
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  input[type=text], textarea {
    width:92%;
    padding: 5px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.clearfix {
    overflow-y: auto;
}
@media only screen and (max-width: 980px) {
    nav {
        right: 90px;
        }
        #yourName{
            font-size: 25px;
            font-weight: bold;
        }
        #mainBox {
            width: 900px;
  
          }
        #heading {
            width: 860px;
        
        }
        #pBody {
            font-size: 20px;
            width: 800px;
        }
        #myPic {
        
            float: left;
            margin: 20px;
            }
        #box{
            width: 900px;
          }
        input[type=submit] {
            font-size: 25px;
            margin-bottom: 40px;
            }
          input[type=text], textarea {
            width:85%;
            font-size: 25px;
          }
    }

@media only screen and (max-width: 768px) {
    body {
        border-top-width: 65px;
    }
    nav {
        right: 100px;
        font-size: 25px;
        }
        #yourName{
            font-size: 25px;
            font-weight: bold;
            top: -3.7em;
            padding: 10px 20px 9px 20px;
        }
        #mainBox {
            width: 720px;
  
          }
        #heading {
            width: 680px;
            font-size: 40px;
        
        }
        #pBody {
            font-size: 25px;
            width: 700px;
        }
        #myPic {
        
            float: left;
            margin: 20px;
            }
        #box{
            width: 720px;
          }
        input[type=submit] {
            font-size: 25px;
            margin-bottom: 40px;
            }
          input[type=text], textarea {
            width:85%;
            font-size: 25px;
          }
          .cform {
            font-size: 25px;
        }
    }
@media only screen and (max-width: 640px) {
    nav {
        right: 70px;
        font-size: 20px;
        }
        #yourName{
            font-size: 35px;
            font-weight: bold;
            top: -2.8em;
            padding: 9px 20px 9px 20px;
        }
        #mainBox {
            width: 600px;
  
          }
        #heading {
            width: 600px;
            font-size: 30px;
        
        }
        #pBody {
            font-size: 20px;
            width: 600px;
            padding-right: 35px;
        }
        #myPic {
        
            float: left;
            margin: 20px;
            }
        #box{
            width: 600px;
          }
        input[type=submit] {
            font-size: 25px;
            margin-bottom: 40px;
            }
          input[type=text], textarea {
            width:85%;
            font-size: 25px;
          }
    }